<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <style>
    body {
      background-color: #f8f9fa;
    }

    .container {
      margin-top: 20px;
    }

    .card {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .file-actions button {
      margin-left: 5px;
    }

    .add-file-form {
      padding: 20px;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .table th, .table td {
      text-align: center;
    }
  </style>
  <title>File Manager</title>
</head>
<body>






    <!-- Add New Folder/File -->
    <div class="col-md-12 mt-3">
      <div class="card add-file-form">
        <div class="card-body">
          <div class="btn-toolbar" role="toolbar">
            <div class="btn-group mr-2">
              <button class="btn btn-primary" data-toggle="modal" data-target="#createFolderModal"><i class="fa fa-plus"></i> Create Folder</button>
     <!-- Your existing modal button -->
<button class="btn btn-primary" data-toggle="modal" data-target="#uploadFileModal">
  <i class="fa fa-upload"></i> Upload File
</button>

<!-- Upload File Modal -->
<div class="modal fade" id="uploadFileModal" tabindex="-1" role="dialog" aria-labelledby="uploadFileModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="uploadFileModalLabel">Upload File</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Your file upload form -->
        <form>
          <div class="form-group">
            <label for="fileInput">Choose File:</label>
            <input type="file" id="fileInput" (change)="selectFile($event)" name="fileInput" />
          </div>
          <div class="form-group">
            <button class="btn btn-success btn-sm" [disabled]="!currentFile" (click)="upload()">Upload</button>
          </div>
        </form>

        <!-- Display uploaded files -->
        <div *ngIf="fileUris.length > 0">
          <div *ngFor="let fileUri of fileUris">
            <img [src]="fileUri" alt="Uploaded Image" class="img-fluid" />
          </div>
        </div>

        <!-- Display error message if any -->
        <div *ngIf="message" class="message">{{ message }}</div>
      </div>
    </div>
  </div>
</div>

            
            
            </div>
            <div class="btn-group">
              <button class="btn btn-secondary"><i class="fa fa-paste"></i> Paste</button>
              <button class="btn btn-secondary"><i class="fa fa-copy"></i> Copy</button>
              <button class="btn btn-secondary"><i class="fa fa-cut"></i> Cut</button>
              <button class="btn btn-danger"><i class="fa fa-trash"></i> Delete</button>
            </div>
          </div>
        </div>
      </div>
    </div>


<!-- Create Folder Modal -->
<div class="modal fade" id="createFolderModal" tabindex="-1" role="dialog" aria-labelledby="createFolderModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createFolderModalLabel">Create Folder</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Form for creating a new folder -->
        <form>
          <div class="form-group">
            <label for="folderName">Folder Name:</label>
            <input type="text" class="form-control" id="folderName" placeholder="Enter folder name" required>
          </div>
          <button type="submit" class="btn btn-primary">Create Folder</button>
        </form>
      </div>
    </div>
  </div>
</div>















<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">File Manager</h5>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th></th>
                  <th>File Name</th>
                  <th>Image</th>
                  <th>Type</th>
                  <th>Size (KB)</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let file of fileInfos | async; let i = index">
                  <td><i class="fa" [ngClass]="{'fa-folder': file.type === 'folder', 'fa-file': file.type !== 'folder'}"></i></td>
                  <td>{{ file.name }}</td>
                  <td (click)="openImageModal(file.url)">
                    <img *ngIf="file.url" [src]="file.url" height="100" alt="{{ file.name }}">
                  </td>
                  <td>{{ file.type }}</td>
                  <td>{{ file.size }}</td>
                  <td>
                    <button class="btn btn-info btn-sm" (click)="downloadFile(file.url)"><i class="fa fa-download"></i></button>
                    <button class="btn btn-secondary btn-sm"><i class="fa fa-pencil"></i></button>
                    <button class="btn btn-danger btn-sm" (click)="deleteFile(file.name)"><i class="fa fa-trash"></i></button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--
    <mat-card class="example-card">
      <h5 class="card-title">List of Files</h5>
      <mat-card-content>
        <mat-list role="list">
          <mat-list-item role="listitem" *ngFor="let file of fileInfos | async; let i = index">
            <a href="{{ file.url }}">{{ file.name }}</a>
            <img *ngIf="file.url" [src]="file.url" height="200" alt="{{ file.name }}">
        
            <button mat-icon-button>
              <mat-icon class="close-icon">close</mat-icon>
              
            </button>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>-->



    <!-- Your modal code (you can use Bootstrap modal or any other modal library) -->
<div class="modal" tabindex="-1" role="dialog" *ngIf="selectedImage">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <img [src]="selectedImage" class="img-fluid" alt="Enlarged Image" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<button class="button-icon" (click)="goBack()">
  <i class="fas fa-chevron-circle-left"></i> Go Back
</button>

